extends layout

block content
  .wrapper--about(ng-controller='MainCtrl')
    .wrapper--outer
      span.page--title About
      span.page--content I currently work as a full time Web Developer, while also working towards a B.A. in German Studies at The Ohio State University in Columbus, Ohio. My main interests are creating exciting web experiences and German language and recent (post WWII) political climate in the German state.
