extends layout

block content

  script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r83/three.min.js')
  script(src='/javascripts/OrbitControls.js')
  script(src='/javascripts/three-test.js')
