extends layout

block content
  .wrapper--index(ng-controller='MainCtrl')
    .wrapper--header
      .burger
        .b.b-1
        .b.b-2
        .b.b-3
      .header
        span
          a(href='#') About
        span
          a(href='#') Work
        span
          a(href='#') Contact
    .wrapper--outer
      span.title--main Will Naugle
      span.title--sub - web developer -
