extends layout

block content
  .wrapper--index(ng-controller='MainCtrl')
    .wrapper--outer
      .index--wrap#index--wrap
        span.title--main WN
        span.title--sub web developer
  script(src='/javascripts/mo.min.js')
  script(src='/javascripts/index.js')
