doctype html
html
  head
    title= title 
      |  | Will Naugle
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body(ng-app='wnPersonal', ontouchstart)
    .wrapper--header
      .logo
        span
          a(href='/') WN
      .burger
        .b.b-1
        .b.b-2
        .b.b-3
      .header
        span
          a(href='/about') About
        span
          a(href='/work') Work
        span
          a(href='/contact') Contact
    .wrapper--outer-mobile
      .mobile--menu
        span
          a(href='/about') About
        span
          a(href='/work') Work
        span
          a(href='/contact') Contact
    block content
    
    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/angular-animate.min.js')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/app.js')
