doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body(ng-app='wnPersonal')
    block content
    
    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/angular-animate.min.js')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/app.js')
