extends layout

block content
  .wrapper--work(ng-controller='MainCtrl')
    .wrapper--outer
      span.page--title Work
      span.page--content
        ul
          li 
            a(href='/font-test') font experiment [wip] 
