extends layout

block content
  
  .wrapper--xm(ng-controller='XMCtrl')
    .wrapper--outer
      span.page--title XM
      span.page--content
        .channel(ng-repeat="channel in channels | orderBy: 'num'")
          .channel--info
            span.channel--num {{channel.num}}
            span.channel--station {{channel.station}}
          iframe(ng-src='{{channel.uri | trustUrl}}', width='250', height='80', frameborder='0', allowtransparency='true')
