body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

.wrapper--header {
  height: 80px;
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  z-index: 2;
}

.burger {
  height: 21px;
  width: 30px;
  margin-right: 15px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.burger-clicked .b-1 {
  transform: rotate(45deg) translate(7px, 6px);
}

.burger-clicked .b-2 {
  transform: scale(0);
}

.burger-clicked .b-3 {
  transform: rotate(-45deg) translate(7px, -6px);
}

.b {
  height: 3px;
  width: 30px;
  background: #fff;
  transition: 0.2s;
}

.header span {
  padding-right: 30px;
}

.header span a {
  color: #fff;
  text-decoration: none;
}

.wrapper--outer-mobile {
  height: 100vh;
  width: 100vw;
  background: #555;
  position: absolute;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: 0.2s;
}

.mobile--menu {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.mobile--menu span {
  transition: 0.2s;
}

.mobile--menu span a {
  color: #fff;
  font-size: 3em;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}

.mobile--menu span:nth-child(odd) {
  transform: translateX(-30px);
}

.mobile--menu span:nth-child(even) {
  transform: translateX(30px);
}

.mobile--menu--show {
  opacity: 1;
}

.mobile--menu--show .mobile--menu span {
  transform: translateX(0px);
}

.wrapper--outer {
  width: 100vw;
  height: 100vh;
  background: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title--main, .title--sub {
  color: #fff;
}

.title--main {
  font-size: 2em;
}

@media(max-width: 600px){
  .header span a {
    display: none;
  }
  .burger {
    display: flex;
  }
}
